#app2{
    background-color: rgb(213, 187, 237);


}
#app2 .tab-bar {
    display: flex;
  
  }
  #app2 .tab-bar >li{
    width: 50%;
    border: 1px blue solid;
  }
#app2 .tab-bar > li.selected{
    background-color: greenyellow;
    color:white
}
#app2 .tab-content{

}
#app2 .tab-content> li{
    display: none;
}
#app2 .tab-content> li.active{
    display: block;
}
